/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';
@theme {
    --color-primary: #FBEAEA;      
    --color-success: #22c55e;     
    --color-warning: #facc15;      
    --color-danger:  #A6252A;       
    --color-cancel:  #ea0000;       
  
}
