
.bg-pink-50 {
  background-color: #FEEDF7;
  padding: 40px 24px;
  border-radius: 20px;
  margin: auto;
  gap: 40px;
  max-width: 1080px;
}

.trust {
  color: #160E4B;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 30px;
}

.trusted-by::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #ec4899;
}

