 <div class=" bg-pink-50 my-6 ">
  <h2 class="trust mb-4 text-center">
  <span class="trusted-by relative">{{ 'trust.TrustedBy' | translate }}</span>
  {{ 'trust.Over' | translate }}
  <span class="text-pink-500">{{ 'trust.Number' | translate }}</span>
  {{ 'trust.Companies' | translate }}
</h2>

  <div class="flex flex-wrap justify-content-center align-items-center gap-4 mb-6">
    <img src="/images/image 36.png" alt="logo1" class="h-6 md:h-8" />
    <img src="/images/image 40.png" alt="logo2" class="h-6 md:h-8" />
    <img src="/images/image 41.png" alt="logo3" class="h-6 md:h-8" />
    <img src="/images/image 38.png" alt="logo4" class="h-6 md:h-8" />
    <img src="/images/image 39.png" alt="logo5" class="h-6 md:h-8" />
    <img src="/images/image 37.png" alt="logo6" class="h-6 md:h-8" />
  </div>
</div> 



