<form
  [formGroup]="resetPasswordForm"
  (ngSubmit)="setNewPassword()"
  class="flex flex-column gap-3"
>
  <h3>Create a new password</h3>
  <p>Set a strong password to secure your account.</p>
  <div class="line"></div>

  <!-- Password Input -->
  <label for="password" class="input-label">Password</label>
  <app-global-input
    id="password"
    type="password"
    placeholder="********"
    formControlName="password"
    [class.ng-invalid]="
      resetPasswordForm.controls['password'].invalid &&
      resetPasswordForm.controls['password'].touched
    "
  ></app-global-input>

  <!-- Password Errors -->
  <app-field-error
    [control]="resetPasswordForm.get('password')"
    [fieldName]="'password'"
  ></app-field-error>

  <!-- Password Input -->
  <label for="rePassword" class="input-label">Confirm Password</label>
  <app-global-input
    id="rePassword"
    type="password"
    placeholder="********"
    formControlName="newPassword"
    [class.ng-invalid]="
      resetPasswordForm.controls['newPassword'].invalid &&
      resetPasswordForm.controls['newPassword'].touched
    "
  ></app-global-input>

  <!-- Password Errors -->
  <app-field-error
    [control]="resetPasswordForm.get('newPassword')"
    [fieldName]="'newPassword'"
  ></app-field-error>

  <!-- Submit Button -->
  <app-primary-btn
    [disabled]="resetPasswordForm.invalid"
    type="submit"
    class="mb-3"
    [labelName]="'Reset Password'"
    [displayIcon]="false"
    [widthFull]="true"
  ></app-primary-btn>

  <!-- Divider -->
  <div class="line"></div>

  <!-- Sign up redirect -->
  <p class="text-center text-sm">
    Need help?
    <a [routerLink]="['/auth/signup']">Contact us</a>
  </p>

  <!-- Backend Error -->
  @if (backendError.length>0) {
  <app-error [errorMessages]="[backendError]"></app-error>
  }
</form>
