h2 {
  color: var(--secondary-text);
}

/* Category Menu Styles */

/* Category Button Styles */
.category-btn {
  background-color: transparent;
  color: var(--text-gray);
  // background-color: white;
  // color: black;
  border: none;
  outline: none;
  white-space: nowrap;
  /* border-radius: 0.5rem; */
  cursor: pointer;
  transition: color 0.3s ease;
  transition: border 0.2s ease;
  /* Primary/Medium/primary-medium-base */
  font-family: 'Sarabun-Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;

  /* Zinc/zinc-700 */
  color: #3f3f46;
}

.category-btn:hover,
.category-btn.active {
  padding-bottom: 0;
  color: var(--primary-color);
  //border-bottom: 3px solid var(--primary-color);
}

/* No Products Found Styles */
.pi-inbox {
  display: block;
  margin-bottom: 1rem;
}

.heading4 {
  color: var(--secondary-text) !important;
}
