.about {
  .check {
    i {
      color: var(--white-color);
      background-color: var( --icon-bg);
    }
    p {
      color: var(--text-zink);
      font-size: 12px;
      font-family: 'Inter', sans-serif;
      font-weight: 500;
      margin-inline-start: 10px;
    }
  }
}

// .box-image {

//   position: relative;
//   &::after {
//     content: ' ';
//     position: absolute;
//     right: 10px;
//     left: -13px;
//     top: -9px;
//     // transform: rotate(-3.9deg);
//     z-index: -1;
//     height: 100%;
//     display: block;
//     border-top-left-radius: 32.16px;
//     border-top-right-radius: 77.19px;
//     border-bottom-right-radius: 77.19px;
//     border-bottom-left-radius: 77.19px;
//     border: 2.57px solid var(--primary-color);
//   }

//   @media (max-width: $breakpoint-lg) {
//     height: 400px;
//   }

//   @media (max-width: $breakpoint-md) {
//     height: 350px;
//   }

//   @media (max-width: $breakpoint-sm) {

//     height: 264.26976px;

//   }
// }

// .img-top {
//     width: $imgWidth-sm;
//     height: $imgWidth-sm;
//   @media (max-width: $breakpoint-lg) {
//     width: 193px;
//     height: 193px;
//   }

//   @media (max-width: $breakpoint-md) {
//    width: $imgWidth-sm;
//     height: $imgWidth-sm;
//   }

//   @media (max-width: $breakpoint-sm) {
//     width: $imgWidth-sm;
//     height: $imgWidth-sm;
//   }
// }
// .img-bottom {
//     width: $imgWidth-sm;
//     height:144px;
//   border-top-left-radius: 32.16px;
//   border-top-right-radius: 64.32px;
//   border-bottom-right-radius: 64.32px;
//   border-bottom-left-radius: 32.16px;
//   @media (max-width: $breakpoint-lg) {
//     width: 193px;
//     height: 144px;
//   }

//   @media (max-width: $breakpoint-md) {
//      width: $imgWidth-sm;
//     height: 92.62455749511719px;
//   }

//   @media (max-width: $breakpoint-sm) {
//     width: $imgWidth-sm;
//     height: 92.62455749511719px;
//   }
// }
