form {
  h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 57px;
    color: var(--black-color);
  }
  a {
    font-family: 'Sarabun-Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;

    color: var(--maroon-700);
  }
}
