@if(!isEmailSend && !isCodeSend){

<form
  [formGroup]="forgetPasswordForm"
  (ngSubmit)="sendEmail()"
  class="flex flex-column gap-3"
>
  <h3>Forgot Password?</h3>
  <p>Worry not, we’ll send you instructions to help you reset it.</p>
  <div class="line"></div>
  <!-- Email Input -->
  <label for="email" class="input-label">Email</label>
  <app-global-input
    id="email"
    type="email"
    placeholder="user@example.com"
    formControlName="email"
    [class.ng-invalid]="
      forgetPasswordForm.controls['email'].invalid &&
      forgetPasswordForm.controls['email'].touched
    "
  ></app-global-input>

  <!-- Email Errors -->
  <app-field-error
    [control]="forgetPasswordForm.get('email')"
    [fieldName]="'email'"
  ></app-field-error>

  <!-- Forgot Password Link -->
  <a
    [routerLink]="['/auth/forget-password']"
    class="w-full mb-3 text-sm text-right"
  >
    Forgot your password?
  </a>

  <!-- Submit Button -->
  <app-primary-btn
    [disabled]="forgetPasswordForm.invalid"
    type="submit"
    class="mb-3"
    [labelName]="'Continue'"
    [displayIcon]="false"
    [widthFull]="true"
  ></app-primary-btn>

  <!-- Divider -->
  <div class="line"></div>

  <!-- Sign up redirect -->
  <p class="text-center text-sm">
    Don't have an account yet?
    <a [routerLink]="['/auth/signup']">Create one now!</a>
  </p>

  <!-- Backend Error -->
  @if (backendError.length>0) {
  <app-error [errorMessages]="[backendError]"></app-error>
  }
</form>
} @if (isEmailSend) {
<app-verify-code (codeVerified)="onCodeVerified($event)"></app-verify-code>
} @if(isCodeSend){
<app-reset-password></app-reset-password>
}
