<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex flex-column gap-3">

  <h3 class="text-center">Welcome back!</h3>
  <div class="line"></div>

  <!-- Email Input -->
  <label for="email" class="input-label">Email</label>
  <app-global-input
    id="email"
    type="email"
    placeholder="user@example.com"
    formControlName="email"
    [class.ng-invalid]="loginForm.controls['email'].invalid && loginForm.controls['email'].touched"
  ></app-global-input>

  <!-- Email Errors -->
  @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
    @if (loginForm.get('email')?.errors?.['required']) {
      <app-error [errorMessages]="['Email is required']"></app-error>
    }
    @if (loginForm.get('email')?.errors?.['email']) {
      <app-error [errorMessages]="['Email is not valid']"></app-error>
    }
  }

  <!-- Password Input -->
  <label for="password" class="input-label">Password</label>
  <app-global-input
    id="password"
    type="password"
    placeholder="********"
    formControlName="password"
    [class.ng-invalid]="loginForm.controls['password'].invalid && loginForm.controls['password'].touched"
  ></app-global-input>

  <!-- Password Errors -->
  @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
    @if (loginForm.get('password')?.errors?.['required']) {
      <app-error [errorMessages]="['Password is required']"></app-error>
    }
    @if (loginForm.get('password')?.errors?.['pattern']) {
      <app-error
        [errorMessages]="[
          'Password must contain at least 8 characters, including uppercase, lowercase, number, and special character.'
        ]"
      ></app-error>
    }
  }

  <!-- Forgot Password Link -->
  <a [routerLink]="['/auth/forget-password']" class="w-full mb-3 text-sm text-right">
    Forgot your password?
  </a>

  <!-- Submit Button -->
  <app-primary-btn
    type="submit"
    class="mb-3"
    [labelName]="'Login'"
    [displayIcon]="false"
    [widthFull]="true"
  ></app-primary-btn>

  <!-- Divider -->
  <div class="line"></div>

  <!-- Sign up redirect -->
  <p class="text-center text-sm">
    Don't have an account yet?
    <a [routerLink]="['/auth/signup']">Create one now!</a>
  </p>

  <!-- Backend Error -->
  @if (backendError) {
    <app-error [errorMessages]="[backendError]"></app-error>
  }

</form>
