footer {
  // position: absolute;
  // bottom: 0;
  .text-primary-color {
    color: var(--primary-text);
  }
  .input {
    background-color: var(--bg-zink);
    border: 0px;
    color: var(--text-gray);
  }
  button {
    background-color: var(--primary-color);
    color: var(--btn-text) !important;
  }

  background-image: url('/images/image 35.png');
  min-height: 50vh;
  background-position: center;
  padding: 30px;
  font-family: 'Inter', sans-serif;
  text-align: center;
  background-size: cover;
}
li {
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: 700;
}
li {
  list-style: none;
}

.get {
  font-size: 24px;
  font-weight: 700;
  color: var(--text-title);
}

.paragraph {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-p);
}

@media (min-width: 768px) {
  .get {
    font-size: 30px;
  }

  .paragraph {
    font-size: 20px;
  }
}
// .p-button-label{
//   color: var(--btn-text) !important;
// }
