<footer>
  <div class="container mx-auto px-4">
    <ul
      class="flex justify-content-center align-items-center flex-wrap gap-1 md:gap-8 mb-6"
    >
      <li class="mx-2 md:mx-3">About Us</li>
      <li class="mx-2 md:mx-3">Store Location</li>
      <li class="mx-2 md:mx-3">Contact</li>
      <li class="mx-2 md:mx-3">Delivery</li>
      <li class="mx-2 md:mx-3">Policy</li>
      <li class="mx-2 md:mx-3">FAQS</li>
    </ul>

    <div class="mx-auto mt-5" style="max-width: 600px">
      <h2 class="get mb-2">
        Get <span class="text-primary-color">20%</span> Off Discount Coupon
      </h2>
      <p class="paragraph mb-3">By Subscribe Our Newsletter</p>

      <div class="relative w-full mt-5">
        <input
          pInputText
          type="email"
          placeholder="Enter Your Email"
          class="input w-full pr-32 pl-4 py-3 border-round-3xl text-sm"
        />
        <button
          pButton
          label="Subscribe →"
          class="absolute top-0 right-0 h-full border-none border-round-3xl px-4 text-sm hover:bg-pink-600"
        ></button>
      </div>
    </div>
  </div>
</footer>
