<section class="grid my-5 mx-3 md:gap-3 md:gap-3">
  <div class="col-12 md:col-4 lg:col-5">
    <div class="flex align-items-center flex-colum  md:flex-row gap-3">
      <div class=" ">
        <img src="/images/box-img.png " class="w-full object-cover" alt="" />
      </div>
      <div class="flex flex-column gap-3">
        <img src="/images/Rectangle4.png" alt="" class="w-full object-cover" />
        <img src="/images/Rectangle5.png" alt="" class="w-full object-cover" />
      </div>
    </div>
  </div>

  <div class="about flex-1 col-12 lg:col-8  lg:col-7 px-3    ">
    <h1 class="my-3 pink-text">About us</h1>
    <h2 class="my-3 heading3 lg:w-6">
      We Provide Best And Quality <span class="text-primary-color">Gifts </span>
      <span class="text-primary-color">Box</span> Product For You
    </h2>
    <p class="my-3 lg:w-7 paragraph-text">
      Recusandae tempora aut laborum molestias veniam. A commodi sequi
      accusantium ullam cupiditate. Neque quidem qui et autem dolor dicta
      necessitatibus ut ad.
    </p>

    <app-primary-btn
      [displayIcon]="true"
      [labelName]="'discover more'"
    ></app-primary-btn>

    <div class="check md:w-10 w-full grid mt-2">
      <div class="col-12 md:col-6 flex align-items-center">
        <i class="pi pi-check p-2 border-circle"></i>
        <p class="ml-2">Streamlined Shipping Experience</p>
      </div>
      <div class="col-12 md:col-6 flex align-items-center">
        <i class="pi pi-check p-2 border-circle"></i>
        <p class="ml-2">Affordable Modern Design</p>
      </div>
      <div class="col-12 md:col-6 flex align-items-center">
        <i class="pi pi-check p-2 border-circle"></i>
        <p class="ml-2">Competitive Price & Easy To Shop</p>
      </div>
      <div class="col-12 md:col-6 flex align-items-center">
        <i class="pi pi-check p-2 border-circle"></i>
        <p class="ml-2">We Made Awesome Products</p>
      </div>
    </div>
  </div>
</section>
