.nav__Icons {
  span {
    /* Primary/Regular/primary-regular-xs */
    font-family: 'Sarabun-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    /* Zinc/zinc-500 */
    color: var(--text-p);
    margin: -4px 0px;
  }
  h3 {
    font-family: 'Sarabun-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: var(--maroon-700);
    inset-inline-start: 10px;
  }
}
.navigation {
  background-color: var(--maroon-700);
  ul li a {
    font-family: 'Sarabun-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    line-height: 100%;
    color: var(--zinc-50);
  }
  li {
    position: relative;
  }

  // Responsive styles
  @media (max-width: 768px) {
    ul {
      overflow-x: auto;
      justify-content: flex-start;
      -webkit-overflow-scrolling: touch; // Smooth scrolling on iOS

      &::-webkit-scrollbar {
        display: none; // Hide scrollbar on webkit browsers
      }
    }

    li {
      //padding: 0 1rem;
      white-space: nowrap;
    }
  }
}

nav {
  // position: sticky;
  top: 0;
  z-index: 1000;
  overflow: visible;
  .nav__Icons {
    button {
      color: var(--primary-color);
    }
  }
}

.logo img {
  object-fit: contain;
}

a {
  transition: color 0.3s;
}

a:hover,
::ng-deep .p-menu-item-link-active {
  color: var(--nav-text-color) !important;
}
::ng-deep .p-menu-item-icon,
::ng-deep .p-menu-item-link {
  color: var(--zink-700) !important;
}
::ng-deep .p-menu-submenu-label {
  color: var(--maroon-700) !important;
}
.p-menu-item:not(.p-disabled) .p-menu-item-content:hover {
  background: none !important;
}
// ::ng-deep .p-menu-list {
//   background: var(--bg-pink);
//   border: none;
//   border-radius: 12px;
// }
// ::ng-deep .p-menu-overlay {
//   border: none;
// }
:host ::ng-deep {
  .p-button.p-button-text {
    padding: 0.5rem;
    color: var(--text-color);
    overflow: visible !important;
  }

  .p-button.p-button-text:hover {
    background: transparent;
    color: var(--primary-color);
  }

  .p-badge {
    background: var(--primary-color);
  }

  // Make sure wishlist button has relative positioning
  .p-button.p-button-text:has(.Wishlist-num) {
    position: relative;
  }
}

/* Custom badge styling */
:host ::ng-deep .p-badge {
  background-color: var(--primary-color) !important;
  color: #ffffff !important;
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  line-height: 1.2rem;
  font-size: 0.6rem;
  z-index: 1000;
  position: absolute;
  top: -9px !important;
  right: -1px !important;
}

.btn-dark-mode {
  width: 2.2rem;
}

:host ::ng-deep .p-dialog-content {
  padding: 0.5rem !important;
}
