<!-- Main Navigation Bar -->
<nav class="w-full">
  <div class="container mx-auto p-4">
    <div class="flex align-items-center justify-content-between">
      <!-- Logo -->
      <img
        src="images/newLogo.png"
        alt="Rose Flower Logo"
        height="50"
        class="flex-none"
      />

      <!-- Desktop Navigation Links - Hidden on Mobile -->
      <ul class="hidden lg:flex list-none gap-4 m-0">
        <li>
          <a
            pRipple
            routerLink="/home"
            routerLinkActive="text-primary-color"
            class="no-underline cursor-pointer block"
            role="button"
            tabindex="0"
          >
            {{ 'navbar.home' | translate }}
          </a>
        </li>
        <li>
          <a
            pRipple
            routerLink="/product-list"
            routerLinkActive="text-primary-color"
            class="no-underline cursor-pointer block"
            role="button"
            tabindex="0"
          >
            {{ 'navbar.categories' | translate }}
          </a>
        </li>
        <li>
          <a
            pRipple
            routerLink="/about"
            routerLinkActive="text-primary-color"
            class="no-underline cursor-pointer block"
            role="button"
            tabindex="0"
          >
            {{ 'navbar.about' | translate }}
          </a>
        </li>
        <li>
          <a
            pRipple
            routerLink="/contact"
            routerLinkActive="text-primary-color"
            class="no-underline cursor-pointer block"
            role="button"
            tabindex="0"
          >
            {{ 'navbar.contact' | translate }}
          </a>
        </li>
      </ul>

      <!-- Icons - Always Visible -->
      <div class="nav__Icons flex gap-2 items-center">
        <!-- Menu Toggle (Mobile Only) -->
        <button
          pButton
          class="p-button-text lg:hidden"
          (click)="toggleMenu($event)"
        >
          <i class="fa-solid fa-bars"></i>
        </button>
        <!-- Search Button -->
        <button pButton class="p-button-text">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
        <!-- Dark mode Button -->
        <button
          pButton
          class="p-button-text btn-dark-mode"
          (click)="darkModeToggle(); toggleDarkMode()"
        >
          @if (darkMode) {
          <i class="fa-solid fa-sun"></i>
          } @else {<i class="fa-solid fa-moon"></i> }
        </button>
        <!-- Wishlist Button -->
        <button pButton class="p-button-text relative">
          <i class="fa-regular fa-heart" pBadge value="2" badgeSize="small"></i>
        </button>
        <!-- Shopping Cart Button -->
        <button pButton class="p-button-text">
          <i
            class="fa-solid fa-bag-shopping"
            pBadge
            value="2"
            badgeSize="small"
          ></i>
        </button>
        <!-- Language  Button -->
        <!-- <button
          pButton
          class="p-button-text "
          (click)="languageToggle()"
        >
          @if (!langClick) {
          <i>العربيه</i>
          } @else {<i>En</i>
          }
        </button> -->
        <button
          [class.hidden]="currentLanguage('en')"
          pButton
          class="p-button-text"
          (click)="changeLanguage('en')"
        >
          {{ 'navbar.arabic' | translate }}
        </button>

        <button
          [class.hidden]="currentLanguage('ar')"
          pButton
          class="p-button-text"
          (click)="changeLanguage('ar')"
        >
          English
        </button>
      </div>
    </div>
  </div>

  <!-- Mobile Menu Popup -->
  <p-menu
    #menu
    [popup]="true"
    [model]="menuItems"
    [appendTo]="'body'"
    styleClass="w-full sm:w-48 mt-3"
  ></p-menu>
  <p-menu
    #menu
    [popup]="true"
    [model]="menuItems"
    [appendTo]="'body'"
    styleClass="w-full sm:w-48 mt-3 border-0"
  ></p-menu>

  <div class="card">
    <p-dialog
      header=""
      [modal]="true"
      [(visible)]="visible"
      draggable="false"
      [position]="position"
      [style]="{ width: '16rem', top: '1rem', right: '1rem' }"
    >
      <ng-template pTemplate="header">
        <div class="flex items-center gap-1">
          <img src="images/logo.png" alt="User Icon" class="w-6 h-6" />
        </div>
      </ng-template>
      <p-menu
        #menu
        [model]="menuItems"
        [appendTo]="'body'"
        styleClass="w-full mt-2 border-0"
      ></p-menu>
    </p-dialog>
  </div>
</nav>
