ul li a {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  // font-size: 1rem;
  line-height: 24px;
  align-items: center;
  color: var(--text-gray);
}

nav {
  // position: sticky;
  top: 0;
  z-index: 1000;
  overflow: visible;
  .nav__Icons {
    button {
      color: var(--primary-color);
    }
  }
}

.logo img {
  object-fit: contain;
}

a {
  transition: color 0.3s;
}

a:hover {
  color: var(--primary-color) !important;
}

:host ::ng-deep {
  .p-button.p-button-text {
    padding: 0.5rem;
    color: var(--text-color);
    overflow: visible !important;
  }

  .p-button.p-button-text:hover {
    background: transparent;
    color: var(--primary-color);
  }

  .p-badge {
    background: var(--primary-color);
  }

  // Make sure wishlist button has relative positioning
  .p-button.p-button-text:has(.Wishlist-num) {
    position: relative;
  }
}

/* Custom badge styling */
:host ::ng-deep .p-badge {
  background-color: var(--primary-color) !important;
  color: #ffffff !important;
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  line-height: 1.2rem;
  font-size: 0.6rem;
  z-index: 1000;
  position: absolute;
  top: -9px !important;
  right: -1px !important;
}

.btn-dark-mode {
  width: 2.2rem;
}

:host ::ng-deep .p-dialog-content {
  padding: 0.5rem !important;
}
