<div class="min-h-screen bg-[#F6F7F8] flex justify-center items-center py-5">
  <div
    class="w-full  bg-white rounded-2xl shadow-lg border border-gray-200
     p-6 flex flex-col justify-between"
  >
  
    <div class="mb-8">
      <h1 class="text-4xl font-semibold text-gray-800 mb-8 text-center sm:text-left">
        Update occasion: Flower
      </h1>
    </div>

    
    <form class="flex flex-col items-center gap-5 flex-grow w-full">
      
      <div class="flex flex-col w-[85%] sm:w-full">
        <label for="name" class="text-gray-700 font-medium mb-1">Name *</label>
        <input
          id="name"
          type="text"
          placeholder="Flower"
          class="border border-gray-300 mb-8 rounded-lg px-4 
          py-2 w-[80%] focus:outline-none focus:ring-2 focus:ring-[#A6252A] focus:border-[#A6252A] transition"
        />
      </div>

     
      <div class="flex justify-end w-[85%] sm:w-full">
        <button
          type="button"
          class="flex items-center justify-center gap-2 border
           border-black cursor-pointer text-blue-500
            hover:bg-[#A6252A] hover:text-white font-medium rounded-lg px-6 py-2 
            transition-all duration-200
          w-[80%] sm:w-auto"
        >
          <i class="pi pi-image"></i>
          View occasion Image
        </button>
      </div>

     
      <div class="w-[85%] sm:w-full mt-4">
        <button
          type="button"
          class="flex items-center justify-center gap-2
           bg-[#A6252A] hover:bg-[#8e1f24] text-white 
           font-semibold px-6 py-2.5 rounded-lg shadow-md w-[80%] transition"
        >
          
          Update occasion
        </button>
      </div>
    </form>
  </div>
</div>

