
<div class=" grid grid-cols-2 gap-6 mb-6">



    <div class="grid grid-cols-1 md:grid-cols-2   gap-4 mb-6 bg-white p-4 rounded shadow">
    <p-card class="text-center text-danger bg-primary rounded shadow">
        <div class="text-xl ">Total products</div>
        <div class=" font-bold">{{overallStats.totalProducts}}</div>
    </p-card>

    <p-card class="text-center text-blue-500 bg-blue-100 rounded shadow">
        <div class="text-xl ">Total orders</div>
        <div class=" font-bold">{{overallStats.totalOrders}}</div>
    </p-card>

    <p-card class="text-center text-yellow-500 bg-yellow-100 rounded shadow">
        <div class="text-xxl ">Total Categories</div>
        <div class=" font-bold">{{overallStats.totalCategories}}</div>
    </p-card>

    <p-card class="text-center text-green-500 bg-green-100 rounded shadow">
        <div class="text-xl ">Total Revenue</div>
        <div class="font-bold">{{overallStats.totalRevenue}} EGP</div>
    </p-card>
    </div>

    <div class="card h-[200px] overflow-auto bg-white p-4 rounded shadow">
        <p-table [value]="categories"  >
            <ng-template #header>
                <tr class="text-xxl font-bold">
                  
                    <th>Category</th>
                    <th>Quantity</th>
                </tr>
            </ng-template>
            <ng-template #body let-category>
                <tr>

                    <td>{{ category.name }}</td>
                    <td>{{ category.totalProducts }}</td>
                </tr>
            </ng-template>
        </p-table>
     </div>

</div>

 <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 mb-6">
  <p-card class="bg-white p-4 rounded shadow">
    <p-chart type="doughnut" [data]="orderStatus"></p-chart>
  </p-card>

  <p-card class="bg-white p-4 rounded shadow">
    <p-chart type="line" [data]="revenueData" [options]="chartOptions"></p-chart>
  </p-card>
</div>

 <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
  <p-card class="bg-white p-4 rounded shadow">
    <ng-template pTemplate="title">Top Selling Products</ng-template>
    <p-table [value]="topProducts">
      <ng-template pTemplate="header">
        <tr class="text-xxl font-bold"><th>Product</th><th>Sales</th></tr>
      </ng-template>
      <ng-template pTemplate="body" let-p>
        <tr><td>{{p.title}}</td><td>{{p.sold}}</td></tr>
      </ng-template>
    </p-table>
  </p-card>

  <p-card class="bg-white p-4 rounded shadow">
    <ng-template pTemplate="title" >Low Stock Products</ng-template>
    <p-table [value]="lowStock">
      <ng-template pTemplate="header">
        <tr class="text-xxl font-bold"><th>Product</th><th>Qty</th></tr>
      </ng-template>
      <ng-template pTemplate="body" let-p>
        <tr><td>{{p.title}}</td><td>{{p.quantity}}</td></tr>
      </ng-template>
    </p-table>
  </p-card>
</div>
