<!-- <div class="sidebar">
  <div class="logo">
    <img src="logo1.png" alt="Rose Logo" />
  </div>
  <ul class="nav-links">
    <li><a routerLink="/overview">Overview</a></li>
    <li><a routerLink="/categories">Categories</a></li>
    <li><a routerLink="/occasions">Occasions</a></li>
    <li><a routerLink="/products">Products</a></li>
  </ul>
</div> -->






<aside class="w-70 h-screen bg-white  p-4 hidden md:block shadow-md">



  <div class="mb-6">
    <img src="logo1.png" alt="Logo" class="w-28 mx-auto" />
  </div>

  <nav>
    <ul class="space-y-2">
      <li>
        <a routerLink="/overview"
          class="flex px-4 py-2 rounded-lg text-gray-700 font-medium hover:bg-red-100 hover:text-red-700 transition">
          <span><img src="flower.png" alt="flower icon" class="w-1rem pe-2"></span>
          Preview website
        </a>
      </li>
      <li>
        <a routerLink="/overview"
          class="flex px-4 py-2 rounded-lg text-gray-700 font-medium hover:bg-red-100 hover:text-red-700 transition ">
          <span><img src="layout-dashboard.png" alt="dashboard icon" class="w-1rem pe-2"></span>

          Overview
        </a>
      </li>
      <li>
        <a routerLink="/categories"
          class="flex px-4 py-2 rounded-lg text-gray-700 font-medium hover:bg-red-100 hover:text-red-700 transition">
          <span><img src="clipboard-list.png" alt="dashboard icon" class="w-1rem pe-2"></span>

          Categories
        </a>
      </li>
      <li>
        <a routerLink="/occasions"
          class="flex px-4 py-2 rounded-lg text-gray-700 font-medium hover:bg-red-100 hover:text-red-700 transition">
          <span><img src="calendar-heart.png" alt="dashboard icon" class="w-1rem pe-2"></span>

          Occasions
        </a>
      </li>
      <li>
        <a routerLink="/products"
          class="flex px-4 py-2 rounded-lg text-gray-700 font-medium hover:bg-red-100 hover:text-red-700 transition">
          <span><img src="package.png" alt="dashboard icon" class="w-1rem pe-2"></span>

          Products
        </a>
      </li>
    </ul>
  </nav>
</aside>