<!-- <section class="w-full my-5">
  <p-carousel [value]="categories" [numVisible]="5" [numScroll]="1" [circular]="true" [showNavigators]="true"
    [responsiveOptions]="responsiveOptions" [showIndicators]="false" [autoplayInterval]="3000">

    <ng-template let-category pTemplate="item">
      <div role="listitem"
        class="card p-2 flex align-items-center flex-column md:flex-row gap-3 shadow-2 border-round-xl text-center m-2 min-h-[6rem] md:min-h-[4rem]">

        <div class="imgContainer p-3">
          <img [src]="category.image" [alt]="category.name || 'Category Image'" width="50" height="50"
            class="border-circle" aria-label="Category Image" />
        </div>

        <div class="content text-center flex flex-column align-items-center justify-content-center">
          <h4 class="text-black-alpha-80 font-bold p-0 capitalize">
            {{ category.name }}
          </h4>
          <span class="text-black-alpha-60 p-0">{{ category.productsCount }} items</span>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</section> -->



<section class="w-full my-5 p-4">
  <p-carousel [value]="categories" [numVisible]="5" [numScroll]="1" [circular]="true" [showNavigators]="false"
    [responsiveOptions]="responsiveOptions" [showIndicators]="false" [autoplayInterval]="3000">
    <ng-template let-category pTemplate="item">
      <div role="listitem"
        class="card p-2 flex flex-row   align-items-center gap-3 shadow-2 border-round-xl text-center m-2 h-6rem"
        style="min-width: 12rem;">
        <div class="imgContainer p-2">
          <img [src]="category.image" [alt]="category.name || 'Category Image'" width="50" height="50"
            class="border-circle" aria-label="Category Image" />
        </div>
        <div class="content flex flex-column  align-items-start justify-content-center text-left">
          <h4 class="text-black-alpha-80 font-bold p-0 capitalize">
            {{ category.name }}
          </h4>
          <span class="text-black-alpha-60 p-0">
            {{ category.productsCount }} items
          </span>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</section>