<section class="w-full my-5">
  <p-carousel
    [value]="categories"
    [numVisible]="5"
    [numScroll]="1"
    [circular]="true"
    [showNavigators]="true"
    [responsiveOptions]="responsiveOptions"
    [showIndicators]="false"
  >
    <ng-template let-category pTemplate="item">
      <div
        class="card p-2 flex align-items-center flex-column md:flex-row gap-3 surface-100 shadow-2 border-round-xl text-center m-2 h-12rem md:h-8rem"
      >
        <div
          class="imgContainer p-3 border-circle surface-100 border-1 border-pink-400"
        >
          <img
            [src]="category.image"
            [alt]="category.name"
            width="50"
            height="50"
            class="border-circle"
          />
        </div>
        <div
          class="content text-center flex flex-column align-items-center justify-content-center"
        >
          <h4 class="text-black-alpha-80 font-bold p-0 capitalize">
            {{ category.name }}
          </h4>
          <span class="text-black-alpha-60 p-0"
            >{{ category.productsCount }} items</span
          >
        </div>
      </div>
    </ng-template>
  </p-carousel>
</section>
