::ng-deep .p-carousel-items-content {
  overflow: hidden;
  white-space: nowrap;
}
.imgContainer{
   img{
    overflow: visible !important;
   }
  width: 90px;
  height: 90px;
  background-color: var(--primary-color )!important;
}
.card{
   background-color: var(--bg-light-pink) !important;
   h4{
   color: var(--secondary-text);
 
   }
   span{
    color:var(--text-gray)
   }
}

 