
<div class="container order">
  <h1 class="text-2xl font-bold mt-5 mb-4">Orders</h1>

  <ng-container *ngIf="orders.length > 0; else noOrders">
    @for (order of orders.slice(0, displayLimit); track order._id) {
     
      <div class="border-1 border-round-md border-300 mb-4 overflow-hidden">
      
        <div
          class="bg-red-700 text-white px-3 py-4 
          flex justify-content-between align-items-center text-sm font-medium"
        >
          <span>Order {{ order._id }}</span>
          <span>Created in {{ order.createdAt | date: 'd MMMM, y hh:mm a' }}</span>
        </div>

      
        <div class="p-3 bg-gray-100 flex flex-column gap-3">
        
          <div class="flex justify-content-between align-items-center">
            <div class="text-xl ">
              Total Price:
              <span class="text-900 font-bold">{{ order.totalPrice }} EGP</span>
             
              @if (order.isPaid ==false) 
              {
               
                 <span 
                 
                 class="bg-green-500 text-white px-2 py-1 px-3 border-round">
                  <i class="pi pi-check" style="font-size: 1rem"></i>  
               Paid 
              
              </span>
              }

            </div>
         <div class="flex align-items-center gap-3 mt-2">
    <span class="text-sm font-semibold text-gray-700">Status :</span>

  <span
    [ngClass]="{
      'bg-blue-600 text-white': order.state === 'pending',
      'bg-green-100 text-green-800': order.state === 'Done',
      'bg-red-100 text-red-800': order.state === 'Canceled'
    }"
    class="text-sm font-semibold px-3 py-1 border-round"
  >
    {{ order.state }}
  </span>

  @if (order.isPaid) {
    <span class="bg-green-200 text-green-900 text-sm font-semibold px-2 py-1 border-round">
      Paid
    </span>
  }
</div>

          </div>
          <hr class="my-2"/>
         
          <div class="text-sm text-[#27272A]">
            <div class="mb-1">
              <span class="font-bold">Payment Method:</span>
              {{ order.paymentType === 'Cash' ? '💵 Cash' : '💳 Credit Card' }}
            </div>
            <div>
              <span class="font-bold">Delivery Status:</span>
              <span
                [ngClass]="{
                  'text-yellow-500': order.state === 'InProgress',
                  'text-green-500': order.state === 'Done',
                  'text-red-500': order.state === 'Canceled'
                }"
              >
                {{
                  order.state === 'In Progress'
                    ? 'Pending'
                    : order.state === 'Done'
                    ? 'Delivered'
                    : 'Canceled'
                }}
              </span>
            </div>
          </div>

         
      <div class="grid">
  @for (item of order.orderItems.slice(0, displayLimit); track item._id) {
    <div class="col-6">
      <div class="flex gap-3 p-4 border-1 border-round border-200 bg-white align-items-center">
        <img
          [src]="item.product.imgCover"
          alt="Product"
          class="w-9rem h-9rem border-round object-cover"
        />
        <div class="flex flex-column gap-6">
          <span class="font-medium text-sm">{{ item.product.title }}</span>
          <span class="text-xs text-500">
            <i class="pi pi-star-fill  text-yellow-600" style="font-size: 1rem" ></i>
            {{ item.product.rateAvg }}/5 ({{ item.product.rateCount }} ratings)
          </span>
          <span class="font-bold gap-4 text-sm">
          (× {{ item.quantity }})  

           
           {{ item.price }} EGP
          </span>
        </div>
      </div>
    </div>
  }
</div>





<div class="flex flex-column align-items-center justify-content-center">
  <button
    (click)="toggleDisplay()"
    class="text-red-600 text-sm font-semibold mt-2 border-none bg-transparent cursor-pointer"
  >
   {{ isExpanded ? 'Show Min' : 'Show All' }}
  </button>
  <i class="pi pi-angle-down mt-1" style="font-size: 1rem"></i>
</div>


        </div>
      </div>
    }

   
  
    
  </ng-container>

  <ng-template #noOrders>
    <div class="text-center text-600 p-4">No orders found.</div>
  </ng-template>
</div>
