<app-nav-bar></app-nav-bar>
<section id="product-list" class="m-5">
  <div class="grid">
    <!-- Filters -->
    <div class="col-12 md:col-4">
      <form [formGroup]="filtersForm">
        <!-- Search by Name -->
        <div class="bg-box mb-5 p-4">
          <h3 class="mb-3">Search</h3>
          <app-global-input
            [labelText]="'Search By the name'"
            ngDefaultControl
            formControlName="title"
          ></app-global-input>
        </div>
        <!-- Search By Category -->
        <div class="bg-box mb-5 p-4">
          <h3 class=" ">Category</h3>
          <div class="line mx-3 my-3"></div>
          <app-global-ckeckbox
            [options]="categoriesOptions"
            [groupTitle]="'Category'"
            formControlName="categories"
          ></app-global-ckeckbox>
        </div>
        <!-- search by brands -->
        <div class="bg-box mb-5 p-4">
          <h3 class=" ">Brands</h3>
          <div class="line mx-3 my-3"></div>
          <app-global-ckeckbox
            [options]="brandsOptions"
            [groupTitle]="'Brands'"
            formControlName="brands"
          ></app-global-ckeckbox>
        </div>
        <!-- Search by price rating -->
        <div class="bg-box mb-5 p-4">
          <h3 class=" ">Price Rating</h3>
          <div class="line mx-3 my-3"></div>
        </div>
        <!-- search by Sales -->
        <div class="bg-box mb-5 p-4">
          <h3 class=" ">Sales</h3>
          <div class="line mx-3 my-3"></div>
          <app-global-ckeckbox
            [options]="salesOptions"
            [groupTitle]="'Sales'"
            formControlName="sales"
          ></app-global-ckeckbox>
        </div>
        <!-- search by Rating -->
        <div class="bg-box mb-5 p-4">
          <h3 class=" ">Ratings</h3>
          <div class="line mx-3 my-3"></div>
          <!-- <app-global-ckeckbox></app-global-ckeckbox> -->
        </div>
        <!-- search by Sizes -->
        <div class="bg-box mb-5 p-4">
          <h3 class=" ">Sizes</h3>
          <div class="line mx-3 my-3"></div>
          <app-global-ckeckbox
            [options]="sizeOptions"
            [groupTitle]="'Sizes'"
            formControlName="sizes"
          ></app-global-ckeckbox>
        </div>

        <div class="selected-filters mt-4">
          <h4>Selected Filters:</h4>
          <pre>{{ filtersForm.value | json }}</pre>
        </div>
      </form>
    </div>

    <!-- Products  -->
    <div class="col-6"></div>
  </div>
</section>
