<form class="flex flex-column gap-2 my-3">
  <app-global-input
    [labelText]="'Old Password'"
    [type]="'password'"
    [placeholder]="'********'"
  ></app-global-input>
  <div class="line my-3"></div>

  <app-global-input
    [labelText]="'New Password'"
    [type]="'password'"
    [placeholder]="'********'"
  ></app-global-input>
  <app-global-input
    [labelText]="'Confirm New Password'"
    [type]="'password'"
    [placeholder]="'********'"
  ></app-global-input>

  <div class="flex justify-content-end mt-5">
    <app-primary-btn
      [labelName]="'Change Password'"
      [displayIcon]="false"
      [type]="'submit'"
    ></app-primary-btn>
  </div>
</form>
