.phone-input {
  width: 100%;
  max-width: 400px;
}

.phone-input .p-dropdown {
  border: none !important;
  box-shadow: none !important;
}

.phone-input input {
  border: none !important;
  box-shadow: none !important;
}