<div class="flex align-items-center gap-2 md:mx-5">
  <div class="relative">
    <p-avatar
      [image]="imgSrc"
      size="normal"
      shape="circle"
      styleClass=" img-container "
    />
    <img
      src="/images/uploadIcon.png"
      alt="uplad-icon"
      class="absolute upload-icon cursor-pointer"
      (click)="uploadImage()"
    />
  </div>
  <div class="flex flex-column gap-2">
    <h5>Upload Photo</h5>
    <p>You can upload a .jpg, .png, or .gif photo with max size of 5MB. </p>
  </div>
</div>
