<!-- Bottom Navbar -->
<nav class="fixed-bottom   w-full bg-white rounded shadow-inner flex justify-around py-2 md:hidden">
  <!-- Overview -->
  <a href="#" class="flex flex-col items-center text-xs text-gray-500 hover:text-red-500">
    <span><img src="layout-dashboard.png" alt="dashboard icon" class="w-1rem py-2"></span>
    <span>Overview</span>
  </a>

  <!-- Categories -->
  <a href="#" class="flex flex-col items-center text-xs text-gray-500 hover:text-red-500">
    <span><img src="clipboard-list.png" alt="dashboard icon" class="w-1rem py-2"></span>

    Categories
  </a>

  <!--  Preview website -->
  <a href="#" class="flex flex-col items-center text-xs text-gray-500 hover:text-red-500">
    <span><img src="flower.png" alt="flower icon" class="w-1rem py-2"></span>
    Preview website
  </a>
  <!-- Occasions -->
  <a href="#" class="flex flex-col items-center text-xs text-gray-500 hover:text-red-500">
    <span><img src="calendar-heart.png" alt="dashboard icon" class="w-1rem py-2"></span>
    <span>Occasions</span>
  </a>

  <!-- product -->
  <a href="#" class="flex flex-col items-center text-xs text-gray-500 hover:text-red-500">
    <span><img src="package.png" alt="dashboard icon" class="w-1rem py-2"></span>
    <span>product</span>
  </a>
</nav>