<section id="product-review" class="py-5 mx-5">
  <h2 class="heading3 text-with-line-and-bg w-100 relative">Product Reviews</h2>
  <h3 class="mt-2 text-lg">General rating:</h3>
  <span class="rate-avg">
    4.5 <span class="ratings">({{ reviews.length }} ratigns)</span>
  </span>
  <p-rating [ngModel]="4.5" [readonly]="true" [stars]="5" />
  <div class="line my-2"></div>
  <div class="grid">
    <!-- Rate Form -->
    <div class="col-12 md:col-4">
      <div class="flex gap-2">
        <h1 class="text-sm">Your rating:</h1>
        <p-rating [ngModel]="0" [readonly]="true" value="5" [stars]="5" />
      </div>
      <form class="flex flex-column gap-2 my-3">
        <app-global-input [labelText]="'title'"></app-global-input>
        <app-global-input [labelText]="'reviews'"></app-global-input>
        <app-primary-btn
          [labelName]="'Add Review'"
          [displayIcon]="false"
          [widthFull]="true"
          class="py-2"
        ></app-primary-btn>
      </form>
    </div>
    <div class="line m-2"></div>
    <!-- Rattings -->
    <div class="col-12 md:col-7">
      <div class="reviews h-20rem overflow-y-auto hide-scrollbar">
        @for(review of reviews; track review._id ){
        <div class="review my-3">
          <div class="flex gap-2">
            <div
              class="w-3rem h-3rem border-circle flex align-items-center justify-content-center user"
            >
              {{ review.userName.charAt(0) }}
            </div>
            <div>
              <h5>{{ review.userName }}</h5>
              <span>{{ review.date | date : 'MMM d, y' }} </span>
            </div>
          </div>
          <div class="flex gap-2 my-3">
            <p-rating
              [ngModel]="review.rateAvg"
              [readonly]="true"
              value="5"
              [stars]="5"
            />
            <span>({{ review.rateAvg }})</span>
          </div>

          <h5 class="mb-1">{{ review.title }}</h5>
          <p>
            {{ review.description }}
          </p>
        </div>

        }
      </div>
    </div>
  </div>
</section>
<!-- <div class="flex align-items-center gap-1 my-5">
          <ng-container *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
            <i
              class="pi"
              [ngClass]="{
                'pi-star-fill':review.rateAvg  >= star,
                'pi-star-half': review.rateAvg + 0.5 === star,
                'pi-star':
                  review.rateAvg < star && review.rateAvg + 0.5 !== star
              }"
              style="color: gold; font-size: 1.5rem"
            ></i>
          </ng-container>
          <span class="ml-2 font-bold">({{ review.rateAvg }})</span>
        </div> -->
