<div class="bg-white h-full shadow flex flex-col">
  <div class="p-6 text-center border-b">
    <img src="logo.png" alt="logo" class="w-14 mx-auto mb-2">
    <p class="font-bold text-lg text-white bg-danger rounded p-2 cursor-pointer">Preview website</p>
  </div>

  <nav class="flex-1 p-4 space-y-2 ">
    <a routerLink="/overview" class="flex items-center p-2 rounded hover:bg-primary text-danger">
      <i class="pi pi-home mr-2 "></i> Overview
    </a>
    <a routerLink="/categories" class="flex items-center p-2 rounded hover:bg-primary text-danger">
      <i class="pi pi-tags mr-2"></i> Categories
    </a>
    <a routerLink="/occasions" class="flex items-center p-2 rounded hover:bg-primary text-danger">
      <i class="pi pi-calendar mr-2 "></i> Occasions
    </a>
    <a routerLink="/products" class="flex items-center p-2 rounded hover:bg-primary text-danger">
      <i class="pi pi-shopping-bag mr-2 "></i> Products
    </a>
  </nav>

  <div class="border-t p-4 flex items-center">
    <img src="" class="w-10 h-10 rounded-full mr-3">
    <div>
      <p class="font-semibold">user</p>
      <a class="text-sm text-gray-500 hover:underline" href="#">Log out</a>
    </div>
  </div>
</div>
