@import 'primeicons/primeicons.css';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: {
    optical-sizing: auto;
    style: normal;
  }
}

:root {
  --p-slider-handle-background: var(--primary-color) !important;
  --p-slider-handle-content-background: var(--primary-color) !important;
  --p-slider-handle-content-hover-background: var(--primary-color) !important;
  --p-slider-handle-focus-ring-color: transparent !important;
  --p-slider-range-background: var(--primary-color) !important;
  --p-slider-handle-hover-background: var(--primary-color) !important;
}
[data-theme='light'] {
  --nav-text-color: #ffc2d0;
  --icon-sm: #ffff;
  --bg-icon-hover: #e6507380;
  --bg-icon: #ff668b;
  --text-sm: #f05454;
  --line-color: #e65073;
  --btn-text: #ffffff;
  --secondary-text: #a6252a;
  --primary-text: #f82ba9;
  --primary-span: #f82ba9;
  --primary-color: #a6252a;
  --secondary-color: #a6252a;
  --text-color: #333333;
  --bg-light-pink: #fbeaea;
  --white-color: #ffff;
  --black-color: #000000;
  --purple-color: #8c52ff;
  --text-gray: #757f95;
  --text-zink: #27272a;
  --bg-pink: #feedf7;
  --home-bg: #ffff;
  --btn-shadow: #0000000d;
  --font-main: 'Inter', sans-serif;
  --highlight-pink: #ec4899;
  --third-color: #741c21;
  --icon-bg: #a6252a;
  --text-p: #71717a;
  --bg-dark: #18181b;
  --bg-zink: #ffffff;
  --text-title: #27272a;
  // --text-title: #160e4b;
  //--link-color: #160e4b;
  --shadow-color: #00000026;
  --border-color: #00000014;
  // --line-color: #f4f4f5;
  --p-color: #52525b;
  --text-zink-500: #d4d4d8;
  --blue-600: #155dfc;
  --icon-text-reverse: #27272a;
  --color-primary: #a6252a;
  --star-color: #ffa508;
  --text-gray-reverse: #a1a1aa;
  --color-primary: #a6252a;
  --bg-light: #fbeaea;
  --primary-btn-color: #a6252a;
}

[data-theme='dark'] {
  --icon-sm: #cd2e33;
  --bg-icon-hover: #ffff;
  --bg-icon: #cd2e33;
  --text-sm: #ffc2d0;
  --line-color: #ff668b;
  --btn-text: #27272a;
  --primary-span: #d75458;
  --secondary-text: #ffc2d0;
  --primary-text: #fbeaea;
  --bg-color: #111827;
  // --text-color: #f9fafb;
  --bg-light-pink: #3f3f46;
  --white-color: #ffff;
  --primary-color: #ffc2d0;
  --secondary-color: #ffffff;
  --text-color: #333333;
  --black-color: #fafafa;
  --purple-color: #8c52ff;
  --text-gray: #a1a1aa;
  --text-zink: #fafafa;
  --bg-pink: #3f3f46;
  --home-bg: #27272a;
  --btn-shadow: #0000000d;
  --font-main: 'Inter', sans-serif;
  --highlight-pink: #ec4899;
  --third-color: #ff668b;
  --icon-bg: #cd2e33;
  --text-p: #a1a1aa;
  --bg-dark: #18181b;
  --bg-zink: #27272a;
  --text-title: #fafafa;
  // --text-title: #ffa3b9;
  // --link-color: #a1a1aa;
  --shadow-color: #00000026;
  --border-color: #a1a1aa;
  // --line-color: #3f3f46;
  --p-color: #a1a1aa;
  --text-zink-500: #71717a;
  --blue-600: #50a2ff;
  --icon-text-reverse: #ffff;
  --color-primary: #a6252a;
  --bg-light: #fbeaea;
  --star-color: #ffa508;
  --text-gray-reverse: #71717a;
  --color-primary: #a6252a;
  --primary-btn-color: #ffc2d0;
}
html,
body,
app-root {
  background-color: var(--home-bg);
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background-color: #e0e5ec;
}
::-webkit-scrollbar-thumb {
  background-color: #f472b6;
  border-radius: 50px;
  box-shadow: 0 0 5px rgba(81, 72, 72, 0.5) inset;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-VariableFont_opsz,wght.ttf');
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-VariableFont_wdth,wght.ttf');
}
@font-face {
  font-family: 'Jost';
  src: url('/fonts/Jost-VariableFont_wght.ttf');
}
@font-face {
  font-family: 'Sarabun-SemiBold';
  src: url('/fonts/Sarabun-SemiBold.ttf');
}
@font-face {
  font-family: 'Sarabun-Regular';
  src: url('/fonts/Sarabun-Regular.ttf');
}
Sarabun-SemiBold.ttf .pink-text {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 16px;
  line-height: 30.2px;
  letter-spacing: 4.66px;
  vertical-align: middle;
  text-transform: uppercase;
  color: var(--primary-span);
}

.heading3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 31px;
  text-transform: capitalize;

  /* color/Violet */
  color: var(--secondary-text);
  /* Special Gifts Box For Your Love */
}
.container {
  margin: 0 2rem;
}
.heading4,
h4 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 24px;
  align-items: center;
  /* color/Violet */
  color: var(--secondary-color);
}
.paragraph-text {
  /* Title/Semantic/Link */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 29px;
  /* color/Slate Gray */
  color: var(--text-p);
}

.p-avatar img {
  width: 29px !important;
  height: 29px !important;
}
.p-avatar-circle img {
  border-radius: 0% !important;
}
.single-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.two-line-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
//  inset-inline-start: 0rem;
/*Gallary */
.text-with-line-and-bg {
  position: relative;
  z-index: 1; // ensures h2 text is on top
  &::after {
    content: '';
    position: absolute; // absolute inside the h2
    bottom: -0.5rem; // move it just below the text
    inset-inline-start: 0; // align to the left edge
    width: 9.5rem; // how long the line is
    height: 2px; // thickness
    background-color: var(--third-color);
  }
  &::before {
    content: '';
    position: absolute; // absolute inside the h2
    bottom: -0.5rem; // move it just below the text
    inset-inline-start: 0; // align to the left edge
    width: 13rem;
    height: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: var(--bg-light-pink);
    z-index: -1; // puts it behind the h2
  }
}
.text-primary-color {
  color: var(--primary-color);
}
.bg-bag-color {
  background-color: var(--icon-bg) !important;
}
.line {
  border: 1px solid var(--line-color);
}
p {
  /* Primary/Regular/primary-regular-base */
  font-family: 'Sarabun-Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 21px;

  /* Zinc/zinc-600 */
  color: var(--p-color);
}
