@import 'primeicons/primeicons.css';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: {
    optical-sizing: auto;
    style: normal;
  }
}
// .light {
//  --icon-sm: #ffff;
//   --bg-icon-hover: #f82ba9;
//   --bg-icon: #f82ba9;
//   --text-sm: #f05454;
//   --line-color: #f82ba9;
//   --btn-text: #ffffff;
//   --secondary-text: #160e4b;
//   --primary-text: #f82ba9;
//   --primary-span: #f82ba9;
//   --primary-color: #f82ba9;
//   --secondary-color: #160e4b;
//   --text-color: #333333;
//   --bg-light-pink: #feedf7;
//   --white-color: #ffff;
//   --black-color: #000000;
//   --purple-color: #8c52ff;
//   --text-gray: #757f95;
//   --text-zink: #27272a;
//   --bg-pink: #feedf7;
//   --home-bg: #ffff;
//   --btn-shadow: #0000000d;
//   --font-main: 'Inter', sans-serif;
//   --highlight-pink: #ec4899;
//   --third-color: #741c21;
//   --icon-bg: #8c52ff;
//   --text-p: #71717a;
//   --bg-dark: #18181b;
//   --bg-zink: #ffffff;
//   --text-title: #160e4b;
//   --link-color: #160e4b;
// }

// .dark {
//   --icon-sm: #cd2e33;
//   --bg-icon-hover: #ffff;
//   --bg-icon: #cd2e33;
//   --text-sm: #ffc2d0;
//   --line-color: #ff668b;
//   --btn-text: #27272a;
//   --primary-span: #d75458;
//   --secondary-text: #ffc2d0;
//   --primary-text: #fbeaea;

//   --bg-color: #111827;
//   // --text-color: #f9fafb;
//   --bg-light-pink: #3f3f46;
//   --white-color: #ffff;
//   --primary-color: #ffc2d0;
//   --secondary-color: #ffffff;
//   --text-color: #333333;
//   --black-color: #000000;
//   --purple-color: #8c52ff;
//   --text-gray: #a1a1aa;
//   --text-zink: #fafafa;
//   --bg-pink: #3f3f46;
//   --home-bg: #27272a;
//   --btn-shadow: #0000000d;
//   --font-main: 'Inter', sans-serif;
//   --highlight-pink: #ec4899;
//   --third-color: #ffc2d0;
//   --icon-bg: #cd2e33;
//   --text-p: #a1a1aa;
//   --bg-dark: #18181b;
//   --bg-zink: #27272a;
//   --text-title: #ffa3b9;
//   --link-color: #a1a1aa;
// }

[data-theme='light'] {
  --icon-sm: #ffff;
  --bg-icon-hover: #f82ba9;
  --bg-icon: #f82ba9;
  --text-sm: #f05454;
  --line-color: #f82ba9;
  --btn-text: #ffffff;
  --secondary-text: #160e4b;
  --primary-text: #f82ba9;
  --primary-span: #f82ba9;
  --primary-color: #f82ba9;
  --secondary-color: #160e4b;
  --text-color: #333333;
  --bg-light-pink: #feedf7;
  --white-color: #ffff;
  --black-color: #000000;
  --purple-color: #8c52ff;
  --text-gray: #757f95;
  --text-zink: #27272a;
  --bg-pink: #feedf7;
  --home-bg: #ffff;
  --btn-shadow: #0000000d;
  --font-main: 'Inter', sans-serif;
  --highlight-pink: #ec4899;
  --third-color: #741c21;
  --icon-bg: #8c52ff;
  --text-p: #71717a;
  --bg-dark: #18181b;
  --bg-zink: #ffffff;
  --text-title: #160e4b;
  --link-color: #160e4b;
}

[data-theme='dark'] {
  --icon-sm: #cd2e33;
  --bg-icon-hover: #ffff;
  --bg-icon: #cd2e33;
  --text-sm: #ffc2d0;
  --line-color: #ff668b;
  --btn-text: #27272a;
  --primary-span: #d75458;
  --secondary-text: #ffc2d0;
  --primary-text: #fbeaea;

  --bg-color: #111827;
  // --text-color: #f9fafb;
  --bg-light-pink: #3f3f46;
  --white-color: #ffff;
  --primary-color: #ffc2d0;
  --secondary-color: #ffffff;
  --text-color: #333333;
  --black-color: #000000;
  --purple-color: #8c52ff;
  --text-gray: #a1a1aa;
  --text-zink: #fafafa;
  --bg-pink: #3f3f46;
  --home-bg: #27272a;
  --btn-shadow: #0000000d;
  --font-main: 'Inter', sans-serif;
  --highlight-pink: #ec4899;
  --third-color: #ffc2d0;
  --icon-bg: #cd2e33;
  --text-p: #a1a1aa;
  --bg-dark: #18181b;
  --bg-zink: #27272a;
  --text-title: #ffa3b9;
  --link-color: #a1a1aa;
}
html,
body,
app-root {
  background-color: var(--home-bg);
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background-color: #e0e5ec;
}
::-webkit-scrollbar-thumb {
  background-color: #f472b6;
  border-radius: 50px;
  box-shadow: 0 0 5px rgba(81, 72, 72, 0.5) inset;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-VariableFont_opsz,wght.ttf');
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-VariableFont_wdth,wght.ttf');
}

.pink-text {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 16px;
  line-height: 30.2px;
  letter-spacing: 4.66px;
  vertical-align: middle;
  text-transform: uppercase;
  color: var(--primary-span);
}

.heading3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 31px;
  text-transform: capitalize;

  /* color/Violet */
  color: var(--secondary-text);
  /* Special Gifts Box For Your Love */
}
.container {
  margin: 0 2rem;
}
.heading4,
h4 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 24px;
  align-items: center;
  /* color/Violet */
  color: var(--secondary-color);
}
.paragraph-text {
  /* Title/Semantic/Link */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 29px;
  /* color/Slate Gray */
  color: var(--text-p);
}

.p-avatar img {
  width: 29px !important;
  height: 29px !important;
}
.p-avatar-circle img {
  border-radius: 0% !important;
}
.single-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.two-line-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
//  inset-inline-start: 0rem;
/*Gallary */
.text-with-line-and-bg {
  position: relative;
  z-index: 1; // ensures h2 text is on top
  &::after {
    content: '';
    position: absolute; // absolute inside the h2
    bottom: -0.5rem; // move it just below the text
    left: 0; // align to the left edge
    width: 9.5rem; // how long the line is
    height: 2px; // thickness
    background-color: var(--line-color);
  }
  &::before {
    content: '';
    position: absolute; // absolute inside the h2
    bottom: -0.5rem; // move it just below the text
    left: 0; // align to the left edge
    width: 13rem;
    height: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: var(--bg-light-pink);
    z-index: -1; // puts it behind the h2
  }
}
.text-primary-color {
  color: var(--primary-color);
}
.bg-bag-color {
  background-color: var(--icon-bg) !important;
}
