<section class="grid  my-5 mx-3">
  <div class="col-12 md:col-5">
    <div
      class="flex align-items-center flex-colum lg-flex-row justify-content-center gap-3  "
    >
      <div
        class="box-image bg-no-repeat bg-center bg-cover  "
        style="
          background-image: url('/images/gift-image.png');
          border-top-left-radius: 32.16px;
          border-top-right-radius: 77.19px;
          border-bottom-right-radius: 77.19px;
          border-bottom-left-radius: 77.19px;
        "
      ></div>

      <div class=" md:pr-5 ">
        <div
          class="bg-cover bg-center img-top border-circle mb-2"
          style="background-image: url('/images/orange-gift.png')"
        ></div>
        <div
          class="bg-cover bg-center img-bottom"
          style="background-image: url('/images/blue-gift.png')"
        ></div>
      </div>
    </div>
  </div>

  <div class="about col-12 md:col-7 h-full">
    <h1 class="my-3 uppercase">About us</h1>
    <h2 class="my-3">
      We Provide Best And Quality <span class="text-pink-500">Gifts </span>
      <span class="text-pink-500">Box</span> Product For You
    </h2>
    <p class="my-3 paragra">
      Recusandae tempora aut laborum molestias veniam. A commodi sequi
      accusantium ullam cupiditate. Neque quidem qui et autem dolor dicta
      necessitatibus ut ad.
    </p>

    <app-primary-btn
      [displayIcon]="true"
      [labelName]="'discover more'"
    ></app-primary-btn>

    <div class="check grid mt-2">
      <div class="col-12 md:col-6 flex align-items-center">
        <i class="pi pi-check p-2 border-circle"></i>
        <p class="ml-2">Streamlined Shipping Experience</p>
      </div>
      <div class="col-12 md:col-6 flex align-items-center">
        <i class="pi pi-check p-2 border-circle"></i>
        <p class="ml-2">Affordable Modern Design</p>
      </div>
      <div class="col-12 md:col-6 flex align-items-center">
        <i class="pi pi-check p-2 border-circle"></i>
        <p class="ml-2">Competitive Price & Easy To Shop</p>
      </div>
      <div class="col-12 md:col-6 flex align-items-center">
        <i class="pi pi-check p-2 border-circle"></i>
        <p class="ml-2">We Made Awesome Products</p>
      </div>
    </div>
  </div>
</section>
