<section class="grid my-5 mx-3">
  <div class="col-12 md:col-5">
    <div
      class="flex align-items-center flex-colum md:flex-row justify-content-center gap-3"
    >
      <div class="h-20rem w-7">
        <div
          class="bg-no-repeat md:w-20rem md:h-20rem"
          style="
            background-image: url('/images/gift-image.png');
            border-top-left-radius: 32.16px;
            border-top-right-radius: 77.19px;
            border-bottom-right-radius: 77.19px;
            border-bottom-left-radius: 77.19px;
            background-position: center;
            background-size: cover;
            min-width: 50%;
          "
        ></div>
      </div>

      <div class="md:pr-5">
        <div
          class="bg-cover bg-center img-top border-circle mb-2"
          style="background-image: url('/images/orange-gift.png')"
        ></div>
        <div
          class="bg-cover bg-center img-bottom"
          style="background-image: url('/images/blue-gift.png')"
        ></div>
      </div>
    </div>
  </div>

  <div class="about col-12 md:col-7 h-full">
   <h1>{{ 'about.Title' | translate }}</h1>

<h2>
  {{ 'about.SubTitle' | translate:{ gift: ('about.Gift' | translate), box: ('about.Box' | translate) } }}
</h2>

<p>{{ 'about.Paragraph' | translate }}</p>

<app-primary-btn
  [displayIcon]="true"
  [labelName]="'about.Discover' | translate"
></app-primary-btn>

    <div class="check grid mt-2">
  <div class="col-12 md:col-6 flex align-items-center">
    <i class="pi pi-check p-2 border-circle"></i>
    <p class="ml-2">{{ 'about.Features.Shipping' | translate }}</p>
  </div>
  <div class="col-12 md:col-6 flex align-items-center">
    <i class="pi pi-check p-2 border-circle"></i>
    <p class="ml-2">{{ 'about.Features.Design' | translate }}</p>
  </div>
  <div class="col-12 md:col-6 flex align-items-center">
    <i class="pi pi-check p-2 border-circle"></i>
    <p class="ml-2">{{ 'about.Features.Price' | translate }}</p>
  </div>
  <div class="col-12 md:col-6 flex align-items-center">
    <i class="pi pi-check p-2 border-circle"></i>
    <p class="ml-2">{{ 'about.Features.Products' | translate }}</p>
  </div>
</div>

  </div>
</section>
