<section class="flex justify-content-between align-items-center gap-6" >
     <div class="flex" style="height: 350px;">
  
      <img src="/images/Rectangle 3.png" alt="" class="w-8 h-full object-cover me-6"
      
      
      
      style="
      width: 100%;
      height: 100%;
      object-fit: cover;
      border: 4px solid #F82BA9;
      border-top-left-radius: 50px;
      border-top-right-radius: 120px;
      border-bottom-right-radius: 120px;
      border-bottom-left-radius: 120px;
      transform: rotate(-3.09deg);
    "/>

 
  <div class="flex flex-column w-6 gap-4 pl-2">
    <img src="/images/Rectangle 4.png" alt="" class="h-1/2 w-full object-cover" />
    <img src="/images/Rectangle 5.png" alt="" class="h-1/2 w-full object-cover" />
  </div>
     </div>

    <div class="about">
         <h1 class="my-3 uppercase">About us</h1>
    <h2 class="my-3">We Provide Best And Quality <span class="text-pink-500">Gifts</span> <br>  <span class="text-pink-500">Box</span> Product For You</h2>
    <p class="my-3 paragra">Recusandae tempora aut laborum molestias veniam. A commodi sequi accusantium
         <br> ullam cupiditate. Neque quidem qui et autem dolor dicta necessitatibus ut ad.
    </p>
    <button class="btn my-3">Discover More <i class="pi pi-arrow-right mt-2"></i></button>
   
    <div class="check flex justify-between flex-wrap align-items-center gap-x-4 gap-y-4 gap-3 my-3">
         <div class="flex  align-items-center ">
        <button class="bag"><i class="pi pi-check" ></i></button>
        <p class="ml-2">Streamlined Shipping Experience</p>
    </div>
    <div class="flex  align-items-center">
        <button class="bag"><i class="pi pi-check" ></i></button>
        <p  class="ml-2">Affordable Modern Design</p>
    </div>
    <div class="flex  align-items-center">
        <button class="bag"><i class="pi pi-check" ></i></button>
        <p  class="ml-1">Competitive Price & Easy To Shop</p>
    </div>
    <div class="flex  align-items-center">
        <button class="bag"><i class="pi pi-check" ></i></button>
        <p  class="ml-2">We Made Awesome Products</p>
    </div>
    </div>
    </div>
</section>
