.check {
  i {
    color: var(--white-color);
    background-color: var(--purple-color);
  }
  p {
    color: var(--black-color);
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
  }
}

section h1 {
  color: var(--primary-color);
  letter-spacing: 6px;
  font-size: 17px;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
}
section h2 {
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  color: var(--secondary-color);
}

.paragra {
  color: var(--gray-text);
  font-size: 12px;
  font-weight: 400;
  font-family: 'Roboto';
}
 
.box-image {
//  width: 302px;
//   height: 344px;
  position: relative;
  &::after {
    content: ' ';
    position: absolute;
    right: 40px;
    left: -21px;
    top: -16px;
    z-index: -1;
    height: 100%;
    display: block;
    border-top-left-radius: 32.16px;
    border-top-right-radius: 77.19px;
    border-bottom-right-radius: 77.19px;
    border-bottom-left-radius: 77.19px;
    border: 5px solid var(--primary-color);
  }
}
 
.img-top {
  width: 193px;
  height: 193px;
}
.img-bottom {
  width: 193px;
  height: 144px;
  border-top-left-radius: 32.16px;
  border-top-right-radius: 64.32px;
  border-bottom-right-radius: 64.32px;
  border-bottom-left-radius: 32.16px;
}
