<app-nav-bar></app-nav-bar>
<section id="product-list" class="m-5">
  <div class="grid">
    <!-- Filters -->
    <div class="col-12 md:col-3">
      <form [formGroup]="filtersForm">
        <!-- Search by Name -->
        <div class="bg-box mb-5 p-4">
          <h3 class="mb-3">{{ 'filters.Search' | translate }}</h3>
          <app-global-input
            [labelText]="'Search By the name'"
            ngDefaultControl
            formControlName="title"
          ></app-global-input>
        </div>
        <!-- Search By Category -->
        <div class="bg-box mb-5 p-4">
          <h3 class=" ">{{ 'filters.Category' | translate }}</h3>
          <div class="line mx-3 my-3"></div>
          <app-global-ckeckbox
            [options]="categoriesOptions"
            [groupTitle]="'Category'"
            formControlName="categories"
          ></app-global-ckeckbox>
        </div>
        <!-- search by brands -->
        <div class="bg-box mb-5 p-4">
          <h3 class=" ">{{ 'filters.Brands' | translate }}</h3>
          <div class="line mx-3 my-3"></div>
          <app-global-ckeckbox
            [options]="brandsOptions"
            [groupTitle]="'Brands'"
            formControlName="brands"
          ></app-global-ckeckbox>
        </div>
        <!-- Search by price rating -->
        <div class="bg-box mb-5 p-4">
          <h3 class=" ">{{ 'filters.PriceRating' | translate }}</h3>
          <div class="line mx-3 my-3"></div>
          <p *ngIf="filtersForm.get('priceRange')?.value as priceRange">
            ${{ priceRange[0] }} - ${{ priceRange[1] }}
          </p>
          <p-slider
            [(ngModel)]="priceRange"
            [range]="true"
            styleClass="w-10 "
            formControlName="priceRange"
            max="1000"
          />
        </div>
        <!-- search by Sales -->
        <div class="bg-box mb-5 p-4">
          <h3 class=" ">{{ 'filters.Sales' | translate }}</h3>
          <div class="line mx-3 my-3"></div>
          <app-global-ckeckbox
            [options]="salesOptions"
            [groupTitle]="'Sales'"
            formControlName="sales"
          ></app-global-ckeckbox>
        </div>
        <!-- search by Rating -->
        <div class="bg-box mb-5 p-4">
          <h3 class=" ">{{ 'filters.Ratings' | translate }}</h3>
          <div class="line mx-3 my-3"></div>
          <app-global-ckeckbox
            [inputRatings]="true"
            [options]="rateAvg"
            [groupTitle]="'Ratings'"
            formControlName="rateAvg"
          ></app-global-ckeckbox>
        </div>
        <!-- search by Sizes -->
        <div class="bg-box mb-5 p-4">
          <h3 class=" ">{{ 'filters.Sizes' | translate }}</h3>
          <div class="line mx-3 my-3"></div>
          <app-global-ckeckbox
            [options]="sizeOptions"
            [groupTitle]="'Sizes'"
            formControlName="sizes"
          ></app-global-ckeckbox>
        </div>

        <div class="selected-filters mt-4">
          <h4>Selected Filters:</h4>
          <pre>{{ filtersForm.value | json }}</pre>
        </div>
      </form>
    </div>

    <!-- Products  -->
    <div class="md:col-9">
      <app-shared-products [products]="productsList"></app-shared-products>
    </div>
  </div>
</section>
<app-footer></app-footer>
