@for (address of addresses; track address._id){
<div
  class="address-card mb-2 flex justify-content-between align-items-center border-1 surface-border border-round-2xl p-3 cursor-pointer"
  [class.active-address]="
   _AddressService. selectedAddress() ? address._id ===   _AddressService. selectedAddress()!._id : false
  "
  (click)="selectAddress(address)"
>
  <div>
    <h3 class="m-0 text-lg font-bold">{{ address.city }}</h3>
    <p
      class="mt-1 px-3 border-round-2xl text-sm"
      [class.active]="
          _AddressService. selectedAddress() &&   _AddressService. selectedAddress()
          ? address._id ==   _AddressService. selectedAddress()!._id
          : false
      "
    >
      {{ address.street }}
    </p>
  </div>
  <div class="flex align-items-center gap-2">
    <span
      class="flex align-items-center justify-content-center border-circle phone-icon"
      [class.active-icon]="
          _AddressService. selectedAddress() ? address._id ==   _AddressService. selectedAddress()!._id : false
      "
    >
      <i class="pi pi-phone"></i>
    </span>
    <span class="text-phone">{{ address.phone }}</span>
  </div>
</div>
}
