<div class="grid gap-0 m-0">
  <div class="col-12 md:col-5 auth-content">
    <div
      class="min-h-screen h-full flex justify-content-center flex-column mx-5"
    >
      <h6 class="   ">
        {{ ' navbar.arabic' | translate }}
      </h6>

      <img src="/images/separator1.png" alt="" class="my-5 mx-auto" />
      <router-outlet></router-outlet>
      <img src="/images/separator2.png" alt="" class="my-5 mx-auto" />
    </div>
  </div>

  <div
    class="col-12 md:col-7 hidden md:block bg-no-repeat bg-cover bg-center"
    style="background-image: url('/images/Cover-image.png')"
  ></div>
</div>
