img {
  width: 280px;
  height: 45px;
}
.auth-content {
  background-color: var(--home-bg);
}
h6 {
  font-family: 'Zain';
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;

  color: var(--zink-700);
}
