.p-galleria-nav-button {
  color: #757f95;
  background: var(--white-color);
  top: unset !important;
  bottom: 10px;
}
.p-galleria-prev-button {
  right: 59px;
  left: unset !important;
}

.p-galleria {
  border: none !important; /* pink border */
}
.caption-content {
  position: absolute;
  // top: 50%;
  // transform: translateY(-50%);
  
  // right: 0;
  max-width: 50%;
  width: 50% !important;
  // background: none;
  

  .text-paragraph {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 0.8em;
    //line-height: 28px;

    color: #757f95;
    // display: -webkit-box;
    // -webkit-line-clamp: 3;
    // line-clamp: 4;
    // -webkit-box-orient: vertical;
    // overflow: hidden;
  }

  .title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 0.9em;
    line-height: 25px;
    letter-spacing: 3.72778px;
    text-transform: uppercase;
    /* color/Persian Rose */
    color: var(--primary-color);
  }
  h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5em;
    // line-height: 50px;
    text-transform: capitalize;
    color: #160e4b;
  }
}

/*ingicators*************/
.p-galleria-inset-indicators.p-galleria-indicators-bottom
  .p-galleria-indicator-list {
  width: unset !important;
  bottom: 0;
  left: 50%;
  /* align-items: center; */
  transform: translate(-50%);
  position: absolute;
  background: none;
}

.p-galleria-inset-indicators .p-galleria-indicator-button {
  background: var(--primary-color);
}
.p-galleria-inset-indicators
  .p-galleria-indicator-active
  .p-galleria-indicator-button {
  background: var(--primary-color);
  width: 2rem;
  border-radius: 46.6px;
  :hover {
    background: var(--primary-color);
  }
}
.p-galleria-inset-indicators .p-galleria-indicator-button:hover {
  background: var(--primary-color);
}
/* hide indicators by default */
.p-galleria-inset-indicators .p-galleria-indicator-list {
  display: none;
}
/* show indicators from md breakpoint upward (768px+) */
@media (min-width: 950px) {
  .p-galleria-inset-indicators .p-galleria-indicator-list {
    display: flex;

    //background: var(--p-galleria-inset-indicator-list-background);
  }
}
