.p-galleria-nav-button {
  color: var(--text-gray);
  background: var(--white-color);
  top: unset !important;
  bottom: 10px;
  //   width:17.891857147216797px ;
  //  height: 17.891857147216797px;
}
.p-galleria-prev-button {
  position: absolute;
  // inset-inline-end: 59;
  right: 59px !important;
  left: unset !important;
}
.p-galleria-prev-button:dir(rtl) {
  position: absolute;
  left: 59px !important;
  right: unset !important;
}
// .p-galleria-prev-button:dir(rtl) {
//   left: 59px;
//   transform: rotate(180deg);
// }
.p-galleria {
  border: none !important; /* pink border */
}
.caption-content {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  max-width: 50%;
  width: 50% !important;

  .text-paragraph {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 0.8em;
    //line-height: 28px;
    color: var(--text-gray);
  }

  h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5em;
    // line-height: 50px;
    text-transform: capitalize;
    color: var(--secondary-color);
  }
}

/*indicators*************/
.p-galleria-inset-indicators.p-galleria-indicators-bottom
  .p-galleria-indicator-list {
  width: unset !important;
  bottom: 0;
  left: 50% !important;
  /* align-items: center; */
  transform: translate(-50%);
  position: absolute;
  background: none;
}

.p-galleria-inset-indicators .p-galleria-indicator-button {
  background: var(--primary-color) !important;
}
.p-galleria-inset-indicators
  .p-galleria-indicator-active
  .p-galleria-indicator-button {
  background: var(--primary-color);
  width: 2rem;
  border-radius: 46.6px;
  :hover {
    background: var(--primary-color);
  }
}
.p-galleria-nav-button {
  color: var(--text-gray) !important;
  background-color: var(--white-color) !important;
}
.p-galleria-inset-indicators .p-galleria-indicator-button:hover {
  background: var(--primary-color);
}
/* hide indicators by default */

/* show indicators from md breakpoint upward (950px+) */
@media (max-width: 480px) {
  .p-galleria-inset-indicators .p-galleria-indicator-list {
    display: none;

    //background: var(--p-galleria-inset-indicator-list-background);
  }
}
