<p-galleria
  [showIndicatorsOnItem]="true"
  [value]="giftsList"
  [showThumbnails]="false"
  showItemNavigators="true"
  [containerStyle]="{ 'max-width': '100%' }"
  [showIndicators]="true"
>
  <ng-template #item let-item>
    <div
      class="h-30rem img-fluid border-round-xl bg-cover bg-center bg-blue-200 w-full"
      [ngStyle]="{
        'background-image': 'url(' + item.bgImg + ')',
       
      }"
    >
      <div
        class="caption-content mx-5 flex flex-column justify-content-center lg:w-7"
      >
        <div class="mb-2 pink-text single-line">{{ item.title }}</div>
        <h3 class="mb-2">{{ item.subTitle }}</h3>
        <p class="text-paragraph mb-2">{{ item.description }}</p>
        <app-primary-btn [labelName]="labelName"></app-primary-btn>
      </div>
    </div>
  </ng-template>
</p-galleria>
