
  <div class="gift max-h-16rem h-15rem flex flex-column align-items-center justify-content-center md:align-items-end md:text-right relative w-full bg-cover bg-center text-center  " style="background-image: url( 
    {{gift.bgImg}}
  );">
    <div class="px-3 pb-4 absolute max-w-13rem  ">
      <h3 class="gift-title py-4">{{gift.title}}</h3>
      <h3 class="heading3 pb-4">{{gift.description}}</h3>
      <app-primary-btn
        [labelName]="gift.btnText!"
        [displayIcon]="displayIcon"
      ></app-primary-btn>
    </div>
  </div>
 
