.input-container {
  position: relative;
  // margin-top: 20px;
  input {
    width: 100%;
    background: var(--input-bg) !important;
    text-transform: capitalize;
    border-radius: 10px !important;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    outline: none !important;
    border: 1px solid var(--text-zink-500) !important;
    padding: 15px 25px !important;

    color: var(--text-gray-reverse);
    &::placeholder {
      //inset-inline-start: 15px;
      color: var(--text-gray-reverse);
    }
    &:focus {
      background: var(--input-bg) !important;
    }
  }
  img {
    width: 15px;
    position: absolute;
    top: 50%;
    //right: 15px;
    inset-inline-end: 15px;
    width: 25px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  svg {
    position: absolute;
    top: 50%;
    inset-inline-start: 0;
    transform: translateY(-50%);
    // margin-inline-end: 20px;
    margin: 0 5px;
  }
}
