<div class="input-wrapper">
  <label [for]="id" class="input-label">
    {{labelText}}
  </label>
  <div class="input-container">
    <input
    [type]="isPasswordVisible ? 'text' : type"
    [value]="value"
    (input)="handleInput($event)"
    (blur)="onTouched()"
    [placeholder]="placeholder"
    />

    @if (type === 'password') {
      <img
      role="button"
      tabindex="0"
      (click)="togglePassword()"
      (keydown.enter)="togglePassword()"
      [src]="isPasswordVisible ? 'images/auth/eye-slash-icon.svg' : 'images/auth/eye-icon.svg'"
      alt="Toggle password visibility"
      />
    }
  </div>
</div>
