@for(option of options ;track option.label;let i = $index; ){
<div class="mb-2 flex justify-content-between label-text">
  <div class="custom-checkbox flex">
    <p-checkbox
      [inputId]="option.label"
      checkboxIcon="null"
      [value]="option.value"
      [(ngModel)]="selectedValues"
      (onChange)="onCheckboxChange($event)"
    ></p-checkbox>
    <label [for]="option.label" class="mx-3">
      @if(inputRatings==true){
      <p-rating [(ngModel)]="option.value" [readonly]="true" class="ratting" />
      }@else { {{ option.label }}}
    </label>
  </div>
  @if(option.count ){
  <p>({{ option.count }})</p>
  }
</div>
}
<!-- [(ngModel)]="selectedValues" -->
