.label-text {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  vertical-align: middle;
  color: var(--text-gray);
}
p {
  font-family: 'Jost'!important;
}
 
.zx{
    background-color: red;
}