.label-text {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  vertical-align: middle;
  color: var(--text-gray);
}
p {
  font-family: 'Jost' !important;
}

/* Change checked + hover color */
::ng-deep .p-checkbox-checked .p-checkbox-box,
.p-checkbox-box.p-highlight {
  background: var(--primary-color) !important;
  border: 1px solid var(--primary-color) !important;
}
/* Normal border (unchecked) */
::ng-deep .p-checkbox .p-checkbox-box {
  border: 1px solid var(--text-gray) !important;
  border-radius: 3px !important;
}
::ng-deep .p-checkbox-checked .p-checkbox-box {
  border: 1px solid var(--primary-color) !important;
}
