
<!-- image as background with text in it -->
 <!-- h-30rem xl:h-50rem md:h-40rem -->
<div
  class="special-gift relative bg-teal-700 w-full bg-cover bg-center h-30rem md:h-30rem  "
>
  <div class="px-3 pb-4 absolute bottom-0 left-0 max-w-16rem">
  <h3 class="pink-text py-4">{{ 'SpecialBox.Price' | translate }}</h3>
<h3 class="heading3 mb-4">{{ 'SpecialBox.Heading' | translate }}</h3>
<app-primary-btn [labelName]="'SpecialBox.Button' | translate"></app-primary-btn>
  <h3 class="pink-text py-4">{{ 'SpecialBox.Price' | translate }}</h3>
<h3 class="heading3 mb-4">{{ 'SpecialBox.Heading' | translate }}</h3>
<app-primary-btn [labelName]="'SpecialBox.Button' | translate"></app-primary-btn>
  </div>
</div>
