<p-card class="card-content product-card w-full h-full lg:text-2xl">
  <ng-template #header>
    <div class="relative">
      <!-- <span>OUT OF STOCK</span> -->
      <img
        [alt]="product.title"
        class="w-full h-18rem border-round-2xl"
        [src]="product.imgCover"
      />
      <div
        class="cover w-full h-18rem justify-content-center gap-2 align-items-center absolute top-5 left-5 right-5 bottom-5 border-round-2xl"
      >
        <span
          class="icon p-4 border-circle h-3rem w-3rem flex align-items-center justify-content-center cursor-pointer"
        >
          <i class="fa-regular fa-heart text-2xl"></i>
        </span>
        <span
          class="icon p-4 border-circle h-3rem w-3rem flex align-items-center justify-content-center cursor-pointer"
          (click)="openProductDetails(product._id)"
        >
          <i class="fa-regular fa-eye text-2xl"></i>
        </span>
      </div>
    </div>
  </ng-template>

  <h4
    class="font-bold capitalize p-0 mb-1 text-overflow-ellipsis overflow-hidden white-space-nowrap heading4"
  >
    {{ product.title }}
  </h4>

  <div class="flex justify-content-between align-items-center w-full">
    <div class="flex flex-column justify-content-center">
      <p-rating [(ngModel)]="product.rateAvg" [stars]="5" [readonly]="true" />
      <span class="font-bold text-xl pt-1">
        {{ product.price | currency : 'USD' : 'symbol' : '1.2-2' }}
      </span>
    </div>

    <span
      [class]="{ 'opacity-10': product.quantity <= 0 }"
      class="icon p-3 border-circle h-3rem w-3rem flex align-items-center justify-content-center bg-bag-color cursor-pointer relative"
    >
      @if((data$|async)?.addToCartLoading&& (data$|async)?.addToCartProductId
      === product._id){
      <app-loading></app-loading> }
      <!-- <ng-container
        *ngIf="
          clickedProductId === product._id && (data$ | async)?.addToCartLoading
        "
      >
        <app-loading></app-loading>
      </ng-container> -->
      <i
        class="pi pi-shopping-cart text-white"
        style="font-size: 1.5rem"
        (click)="product.quantity > 0 && addProductToCart(product._id)"
      ></i>
    </span>
  </div>
</p-card>
