.cover {
  i {
    color: var(--icon-sm);
  }
  position: absolute;
  inset: 0;
  // background-color: rgba(248, 43, 169, 0.5);
  background-color: #e6507380 !important;
  display: none;
  transition: display 0.8s ease;
}

.cover span {
  background-color: var(--bg-icon-hover);
}

.relative:hover .cover {
  display: flex;
}

::ng-deep .p-rating .p-rating-icon {
  color: var(--star-color) !important;
  font-size: 1.2rem;
  transition: color 0.2s;
}
.product-card {
  span {
    color: var(--text-sm) !important;
  }
}

::ng-deep.p-card {
  background: none;

  /* color: var(--p-card-color); */
  box-shadow: none !important;
}
::ng-deep.p-card-body {
  background-color: var(--home-bg);
  padding: 0 !important;
}

.title {
  color: var(--third-color);
  font-weight: 600;
  font-size: 17px;
  font-family: 'Inter', sans-serif;
}

.bag {
  background-color: var(--third-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 21px;
}

.bag i {
  color: var(--white-color);
}

.heading4 {
  color: var(--secondary-text) !important;
}
.text-primary-color {
  color: var(--bg-icon);
}
.card {
  width: 302px;
  height: 82.8px;
  justify-content: space-between;
  padding: 16px 16px;
}

::ng-deep .p-rating {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

::ng-deep .p-rating .p-rating-item {
  cursor: default;
}
